<div class="reviews-container">
  <div class="row">
    <div class="review-box-test col-md-6">
      {{#each reviews as |review|}}
        <div class="review-box d-flex flex-column justify-content-center align-items-center custom-margin-bottom mb-3 mt-5 mr-5 ml-5">
          <div class="review-box-content d-flex flex-column justify-content-center align-items-center text-center">
            <h3 class="mb-3">{{review.title}}</h2>
            <h4 class="mb-3">{{review.tutor.name}}</h4>
            <p class="flex-text mb-5">{{review.text}}</p>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="review-box-testy col-md-6  d-flex flex-column align-items-start">
      <div class="d-flex flex-column justify-content-start mt-5">
        <h2 class="mb-3">Find a Tutor</h2>

        <p>Our mission is to connect students with exceptional tutors to empower them on their educational journey. We believe that every student deserves access to high-quality, personalized learning experiences that foster growth, confidence, and academic success.</p>
        <p>By leveraging cutting-edge technology and a rigorous vetting process, we ensure that only the most qualified and dedicated tutors join our platform. We strive to offer a diverse range of subjects and expertise, catering to students of all ages and academic levels. Whether it's mathematics, languages, science, or any other subject, our tutors are passionate about imparting knowledge and igniting a love for learning.</p>

      <h2 class="mb-3">We are committed:</h2>
        <p>At rate my tutor, providing a reliable and user-friendly platform where students can easily find, evaluate, and rate
           tutors based on their individual needs and preferences is where our values are focused. Our goal is to create a vibrant community that thrives on the principles of transparency, accountability, and mutual respect.</p>
        
      <h2 class="mb-3">Our Purpose:</h2>
        <p>Transparent Rating System: Our platform incorporates a comprehensive rating and review system that allows students like you to provide honest feedback on the tutors' performance. This transparency ensures that you have access to authentic and reliable information when making your tutor selection.</p>
        <p>Reliability and Trust: We place a strong emphasis on integrity and trust. All tutors on our platform undergo a rigorous vetting process to ensure their qualifications and expertise. By using Rate a Tutor, you can have confidence in the quality and professionalism of the tutors available.</p> 
        <p>Academic Success: By utilizing Rate a Tutor, you are investing in your academic success. Our platform connects you with knowledgeable tutors who are dedicated to helping you achieve your educational goals. With the right guidance and support, you can boost your understanding and performance in your chosen subject areas.</p> 
    </div>
  </div>
</div>
