<div class="container-fluid page-background">
  <div class="d-flex flex-column align-items-center">
    <h3 class="display-4 text-white mt-4">Login</h3>
  </div>

  <div class="container d-flex flex-column align-items-center">
    <div class="row">
      <div class="col-12 text-center mt-3">
        <h4 class="text-white">Select your user type:</h4>
        <br>
        <div class="d-flex justify-content-center">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label text-white" for="inlineRadio1">Student</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label text-white" for="inlineRadio2">Tutor</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <h3 class="login mb-2 text-white">Login</h3>

      <form class="form student-login-form">
        <div class="form-group">
          <label for="login-email" class="col-form-label text-white">Email:</label>
          <input class="form-control" type="text" id="login-email" />
        </div>
        <div class="form-group">
          <label for="login-password" class="col-form-label text-white">Password:</label>
          <input class="form-control" type="password" id="login-password" />
        </div>
        <div class="form-group">
          <button class="btn btn-outline-success my-2 my-sm-0 custom-button" type="submit" id="login-btn text-white">Login</button>
        </div>
      </form>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">

      <h3 class="signup mb-2 text-white">Signup</h3>
      <form class="form student-signup-form">
        <div class="form-group">
          <label for="signup-name" class="col-form-label text-white">Name:</label>
          <input class="form-control" type="text" id="signup-name" />
        </div>
        <div class="form-group">
          <label for="signup-email" class="col-form-label text-white">Email:</label>
          <input class="form-control" type="text" id="signup-email" />
        </div>
        <div class="form-group">
          <label for="signup-password" class="col-form-label text-white">Password:</label>
          <input class="form-control" type="password" id="signup-password" />
        </div>
        <div class="form-group">
          <button class="btn btn-outline-success my-2 my-sm-0 custom-button" type="submit" id="signup-btn">Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>

