<div class="container-fluid page-background"></div>
<div class="row mt-5">
  <div class="col-md-6 offset-md-3 text-center">
    <h3 class=" display-4">Student Login</h2>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
    <h3 class="login mb-5">Login</h2>

    <form class="form student-login-form">
      <div class="form-group row">
        <label for="email-login" class="col-sm-3 col-form-label">Email:</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="student-email-login" />
        </div>
      </div>
      <div class="form-group row">
        <label for="password-login" class="col-sm-3 col-form-label">Password:</label>
        <div class="col-sm-9">
          <input class="form-control" type="password" id="student-password-login" />
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary mt-3" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
    <h3 class="signup mb-5">Signup</h2>

    <form class="form student-signup-form">
      <div class="form-group row">
        <label for="name-signup" class="col-sm-3 col-form-label">Name:</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="student-name-signup" />
        </div>
      </div>
      <div class="form-group row">
        <label for="email-signup" class="col-sm-3 col-form-label">Email:</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="student-email-signup" />
        </div>
      </div>
      <div class="form-group row">
        <label for="password-signup" class="col-sm-3 col-form-label">Password:</label>
        <div class="col-sm-9">
          <input class="form-control" type="password" id="student-password-signup" />
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary mt-3" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>
</div>

<script src="./js/studentLogin.js"></script>