<div class="row">
  <div class="col-md-6">
    {{hi}}
    <h2>Login</h2>

    <form class="form tutor-login-form">
      <div class="form-group">
        <label for="tutor-email-login">email:</label>
        <input class="form-input" type="text" id="tutor-email-login" />
      </div>
      <div class="form-group">
        <label for="tutor-email-login">password:</label>
        <input class="form-input" type="password" id="tutor-password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form tutor-signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="tutor-name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="tutor-email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="tutor-password-signup" />
        <form action="/profile" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
        </form>
  </form>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/tutorLogin.js"></script>