* {
  box-sizing: border-box;
  margin:0;
  padding:0;
} 

:root {
  --header-color: white;
}

.custom-margin-bottom {
  margin-bottom: 30px; 
}

.navbar {
  background-color: #0a131a;
 
}

.second-nav{
  background-color: #0a131a;
 
}

.custom-button {
  background-color: #344966;
  color: white;
  border-color: white;
}

.custom-button:hover {
  background-color: #0a131a;
  color: white;
  border-color: white;
}

nav a {
color: white;
}

.flex-text {
  color: black;
}

.flex-prof {
  color: white;
}

p {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: var(--header-color);
}

.review-box {
  background-color: #F0F4EF;
  border-radius: 20px;
}

.review-box-testy {
  background-color: #0D1821;
  height: 100vh;
}
.review-box-test {
  background-color: #344966;
  height: 100vh;
}

.review-box-profile {
  background-color: #152736;
  color: white;
  border-radius: 20px;
}